{% extends 'student/base.html' %}

{% block content %}

<!-- <div class="container-fluid  text-right">
  <div class="row justify-content-center mt-5"> -->

<div class="container-fluid">



  <br>
  <br>
  <div class="row ">
    <div class="col-md-8  ">
    </div>
    <div class="col-md-4  mb-3 text-right">
      <h6><b>بيانات راتب شهر {{cm}}</b></h6> <h6><b></b></h6>
    </div>
  </div>

  <div class="row">
  <div class="col-md-5 ">
  </div>
    <div class="col-md-7 ml-auto text-center">
  		<table class="table table-hover">
  		  <thead>
  		    <tr>
            <th scope="col">التفاصيل</th>
            <th scope="col">المبلغ</th>
  		    </tr>
  		  </thead>
  		  <tbody>
           {% for item in items %}
  		    <tr>
            <td>{{ item.item }}</td>
  		    <td>{{ item.value }}</td>
           {% endfor %}
  		  </tbody>
  		</table>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>

{% endblock %}
