{% extends 'student/base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static '/css/base.css' %}">

<div class="container-fluid text-right  ">
	<br>
		<div class="row">
			<div class="col-md-7">
			</div>
			<div class="col-md-5">
				<div class="card text-right border-black ">
					<h6 class="card-header">
	          {% if user.school == "بنين" %}
	           مرحباً بالطالب
	          {% else %}
	           مرحباً بالطالبة
	          {% endif %}
					</h6>
					<div class="card-body ">
						<h6 class="card-text">
							{{ user.username }}
						</h6>
					</div>
					<div class="card-footer ">
	            {{ user.get_grade_display }} - {{ user.school }}
					</div>
				</div>
			</div>
		</div>

	<br>
	<div class="row">
		<div class="col-md-12 ml-auto text-right">
			<div id="card-434025">
				<div class="card">
					<div class="card-header">
						 <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-434025" href="#card-element-708669">تعليمات سداد المصروفات الدراسية</a>
					</div>
					<div id="card-element-708669" class="collapse">
						<div class="card-body">
								<img src="{% static 'images/fee.jpg'%}" class="img-fluid" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<br>
		<div class="row">
			<div class="col-md-6">
			</div>
	    {% if user.message == null %}
	    <div class="col-md-6">
			</div>
	    {% else %}
			<div class="col-md-6">
				<div class="alert alert-dismissable alert-primary">

					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
						×
					</button>
					<h6>
						<!-- بريد -->
					</h6>{{ user.message|safe }}
				</div>
			</div>
	    {% endif %}
		</div>
	<div class="row">
		<div class="col-md-6">
		</div>
	{% if oldfee <= 0 %}
	<div class="col-md-6">
		</div>
		<br>
	{% else %}
		<div class="col-md-6">
			<div class="alert alert-dismissable alert-danger">

				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
					×
				</button>
				<h6>
					برجاء السداد الفوري للمديونية السابقة
				</h6> <strong> {{ oldfee }} بقيمة </strong>
			</div>
		</div>
		<br>
	{% endif %}
	</div>
	<div class="row">

		<div class="col-md-12">
			<div class="table-responsive">
				<table class="table table-hover text-center">
					<thead>
						<tr>
							<th scope="col"><i class="fa fa-calendar  mr-2"></i>فترة السداد</th>
							<th scope="col"><i class="fa fa-graduation-cap mr-2"></i>المصروفات الدراسية</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><button type="button" class="btn btn-deafult text-center mt-2 p-0" style="display:inline-block;width:150px"><h6>حتى 07/31</h6></button></td>
				    	<th scope="row"><button type="button" class="btn btn-primary cib   p-2" style="display:inline-block; width:170px" >القسط الأول<span class="badge badge-light ml-2"><h6>{{ user.study_payment1 }}</h6></span></button></th>
						</tr>
	          <!-- <tr>
							<td><button type="button" class="btn btn-deafult text-center mt-3 p-0" style="display:inline-block;width:150px"><h6>مـن 11/01 الى 11/30</h6></button></td>
	          	<th scope="row"><button type="button" class="btn btn-primary cib p-2" style="display:inline-block; width:170px" >القسط الثاني<span class="badge badge-light ml-2"><h6>7,000</h6></span></button></th>
	          </tr> -->
						<tr>
							<td><button type="button" class="btn btn-deafult text-center mt-2 p-0" style="display:inline-block;width:150px"><h6>حتى يناير 2022</h6></button></td>
					{% if user.study_payment2 == 0 %}
							<th scope="row"><button type="button" class="btn btn-primary cib p-2" style="display:inline-block; width:170px" >القسط الثاني<span class="badge badge-light ml-2">المتبقي</span></button></th>
	        {% else %}
					    <th scope="row"><button type="button" class="btn btn-primary cib p-2" style="display:inline-block; width:170px" >القسط الثاني<span class="badge badge-light ml-2"><h6>{{ user.study_payment2 }}</h6></span></button></th>
	        {% endif %}
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	{% if bus == True or user.bus_active == True %}
	<div class="row">
	<div class="col-md-12 ">
		<div class="table-responsive">
			<table class="table table-hover text-center">
				<thead>
					<tr>
						<th scope="col"></th>
						<th scope="col "><i class="fa fa-bus mr-2 mt-4"></i>إشتراك السيارة</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><button type="button" class="btn btn-deafult text-center mt-3 p-0" style="display:inline-block;width:150px"><h6>حتى 07/31</h6></button></td>
						<th scope="row"><button type="button" class="btn btn-primary cib p-2" style="display:inline-block; width:170px" >  <span class="badge badge-light ml-2"><h6>{{ user.bus_payment1 }}</h6></span></button></th>
					</tr>
					<!-- <tr>
						<td><button type="button" class="btn btn-deafult text-center mt-3 p-0" style="display:inline-block;width:150px"><h6>مـن 10/01 الى 10/30</h6></button></td>
						<th scope="row"><button type="button" class="btn btn-primary cib p-2" style="display:inline-block; width:170px" >القسط الثاني<span class="badge badge-light ml-2"><h6>{{ user.bus_payment2 }}</h6></span></button></th>
          </tr> -->
				</tbody>
			</table>
		</div>
	</div>
	</div>
	{% endif %}
	{% if  user.discount > 0 %}
	<br>
	<div class="row">
	<div class="col-md-12 ">
		<div class="table-responsive">
			<table class="table table-hover text-center">
				<thead>
					<tr>
						<th scope="col"></th>
						<th scope="col "><i class="fa fa-handshake-o mr-2 mt-4"></i>خصومات</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><button type="button" class="btn btn-deafult text-center mt-3 p-0" style="display:inline-block;width:150px"><h6> </h6></button></td>
						<th scope="row"><button type="button" class="btn btn-primary cib p-2" style="display:inline-block; width:170px" > مبلغ خصم <span class="badge badge-light ml-2"><h6>{{ user.discount }}</h6></span></button></th>
					</tr>
					<!-- <tr>
						<td><button type="button" class="btn btn-deafult text-center mt-3 p-0" style="display:inline-block;width:150px"><h6>مـن 10/01 الى 10/30</h6></button></td>
						<th scope="row"><button type="button" class="btn btn-primary cib p-2" style="display:inline-block; width:170px" >القسط الثاني<span class="badge badge-light ml-2"><h6>{{ user.bus_payment2 }}</h6></span></button></th>
		</tr> -->
				</tbody>
			</table>
		</div>
	</div>
	</div>
	{% endif %}
	
	<div class="row">
	<div class="col-md-12 ">
		<div class="table-responsive">
			<table class="table table-hover text-center">
				<thead>
					<tr>
						<th scope="col">
								<form class="btn mt-5"  action="{% url 'addfees' %}" method="GET">
									<button type="submit" name="button" >تسجيل إيصالات البنك</button>
								</form>
						</th>
						<th scope="col "><i class="fa fa-credit-card mr-4 mr-2"></i>حالة السداد</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						{% if user.payment_status < 0 %}
						<th scope="row"><button type="button" class="btn btn-danger m-0 pr-1 pl-1" style="display:inline-block; width:175px" >مستحق السداد<span class="badge badge-light ml-2"><h6>0</h6></span></button></th>
						{% else %}
						<th scope="row"><button type="button" class="btn btn-danger m-0 pr-1 pl-1" style="display:inline-block; width:175px" >مستحق السداد<span class="badge badge-light ml-2"><h6>{{ user.payment_status }}</h6></span></button></th>
						{% endif %}
						<th scope="row"><button type="button" class="btn btn-info m-0 pr-1 pl-1" style="display:inline-block; width:140px" >تم سداد<span class="badge badge-light ml-2"><h6>{{ user.total_paid }}</h6></span></button></th>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	</div>
	<br>
	<br>
	<br>
	</div>

{% endblock %}
